#container{
	background: #f7f7f7;
	margin: 100px auto;
	width: 360px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

input{
	padding: 13px 13px 13px 20px;
	background: #f7f7f7;
	box-sizing: border-box;
	width: 100%;
	font-size: 18px;
	color: #29809b;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	border: 2px solid #29809b;
	outline: none;
}

.selected{
	color: gray;
	text-decoration: line-through;
}

h1{
	background: #29809b;
	margin: 0 auto;
	padding: 10px 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 24px;
	color: white;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

li{
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background: #f7f7f7;
}

body{
	font-family: roboto;
	background: #74ebd5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-plus{
	float: right;
	transition: transform .2s;
	margin: 0 auto;
}

.fa-plus:hover{
	transform: scale(1.5);
	color: orange;
}


span{
	background: tomato;
	display: inline-block;
	color: white;
	width: 0;
	text-align: center;
	margin-right: 20px;
	height: 40px;
	transition: 0.3s;
	opacity: 0;
}

li:hover span{
	width: 40px;
	opacity: 1;
}